<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Task</title>

    <!-- Material Icons -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <!-- UIkit CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/uikit@3.7.6/dist/css/uikit.min.css"
    />

    <!-- Semantic UI -->
    <link
      rel="stylesheet"
      type="text/css"
      href="semantic/dist/semantic.min.css"
    />

    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top navbar"></nav>

    <div class="container editholder">
      <form
        action="/task/updatetask/<%- task._id%>"
        enctype="multipart/form-data"
        class="getForm"
        method="post"
      >
        <div>
          <input
            type="text"
            name="title"
            value="<%-task.title%>"
            id=""
            class=""
            style="
              width: 250px;
              border-radius: 10px;
              padding: 4px;
              border: none;
              outline: none;
            "
            placeholder="here.."
            required
          />
        </div>
        <div class="form-group my-2">
          <textarea
            name="description"
            id=""
            cols="38"
            rows="3"
            style="
              border-radius: 10px;
              border: none;
              outline: none;
              resize: none;
            "
            placeholder="here.."
            required
          >
<%-task.description%></textarea
          >
        </div>
        <div style="display: flex">
          <button type="submit" class="btn btn-primary w-25">save</button>
          <a
            class="btn btn-danger ml-4 w-25"
            href="/task/createtask"
            id="hideForm"
          >
            cancel
          </a>
        </div>
        <div class="mt-4">
          <input
            type="file"
            class="btn"
            accept="application/*, image/*, audio/*"
            name="filename"
            id=""
          />
        </div>
      </form>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"
    ></script>
    <script src="semantic/dist/semantic.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
      crossorigin="anonymous"
    ></script>
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.6/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.6/dist/js/uikit-icons.min.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
