/* Default styles */
* {
  padding: 0;
  margin: 0;
}
*::-webkit-scrollbar {
  width: 8px;
  border-radius: 20px;
}

*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(156, 152, 152, 0.767);
  border-radius: 20px;
}

body {
  background: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.createTask {
  display: none;
  border-radius: 15px;
  width: 40vw;
  height: 170px;
  border: 1px solid rgb(240, 231, 231);
  cursor: text;
  margin: 0 auto;
  padding: 4px;
}

.createTask:focus {
  border: 1px solid rgb(122, 121, 121);
  border-radius: 15px;
}

.showFormBox {
  display: block;
}

.none {
  display: none;
}

#btn {
  background: #db4c3e;
  color: #fff;
}
#btn:hover {
  background: #e74738;
  color: #fff;
}

.hideAddTask {
  display: none;
}

.material-icons {
  color: #db4c3e;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}

.tasktitle {
  border: none;
  outline: none;
  padding: 5px 20px;
}
.tasktitle:focus {
  border: none;
  outline: none;
}
.taskdescription {
  border: none;
  outline: none;
  resize: none;
  padding: 5px 20px;
}
.taskdescription:focus {
  border: none;
  outline: none;
}

#click {
  cursor: pointer;
}
#cancel {
  border: 1px solid #e6e6e6;
  margin-left: 10px;
}

#cancel:hover {
  background: #e6e6e6;
}
/* Task display styles */
.taskDisplay {
  margin-top: 50px;
}

.checkbox {
  color: #000;
}
.checkbox:hover {
  text-decoration: none;
  color: #000;
}

[type="checkbox"] {
  border-radius: 100%;
}

.cancelform {
  display: none;
}

.getForm {
  display: flex;
  flex-direction: column;
  width: 40vw;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  height: 40vh;
}
.edit:hover {
  color: #e74738;
  text-decoration: none;
}

/* Daily Weekly and Monthly Task view */

.views-container {
  align-self: flex-start;
  flex: 1;
  height: 90vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.views-container div:nth-of-type(1) {
  border: 1px solid rgb(202, 202, 202);
}
.views-container div:nth-of-type(2) {
  border: 1px solid rgb(202, 202, 202);
}
.views-container div:nth-of-type(3) {
  border: 1px solid rgb(202, 202, 202);
}

.views {
  flex: 1;
  padding: 8px;
  margin: 5px;
  height: 90%;
  width: 100%;
  overflow-y: scroll;
  border-radius: 15px;
  box-shadow: 1px 1px 5px 2px rgba(134, 133, 133, 0.5);
}

/* auth section */

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

/* Media Query */
@media screen and (max-width: 768px) {
  .holder {
    flex-direction: column;
  }

  .createTask {
    width: 90vw;
  }
  .views-container {
    flex-direction: column;
    width: 100%;
  }
  .editholder {
    width: 95vw;
  }
  .editholder form {
    width: 90vw;
  }

  .editholder form textarea {
    width: 40vw;
  }
}
